@font-face {
    font-family: Ailerons; /*a name to be used later*/
    src: url("../fonts/Ailerons-Typeface.otf") format("opentype"); /*URL to font*/
}

/* All HTML Files */

body {
    background-color: black;
    color: white;
    font-family: 'Ailerons';
    max-width: 100%;
    max-height: 100%;
    src: url("../fonts/Ailerons-Typeface.otf") format("opentype");
}

.upper_bar{
    min-height: 114.29px;
}

.main {
    text-align: center;
    margin-top: 260px;
}

/* Index.html */

.maintitle {
    font-size: 90px;
}

.soon {
    font-size: 60px;
}

/* Mission.html */

.phoria_side {
    text-align: left;
    font-size: 80px;
}